.header__content {
  width: 100%;
  height: 96px;
  background-color: #ffffff;
  border-bottom: 1px solid var(--color-gray-100);
  box-shadow: 1px 8px 5px 0px rgb(5 5 5 / 10%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--spacing-md);
  box-sizing: border-box;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.header__help-btn {
  width: 40px;
  height: 40px;
  border-radius: var(--radius-full);
  background-color: var(--color-white);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-gray-400);
}

.header__help-btn:hover {
  transform: scale(1.2);
}

.header__avatar-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__avatar {
  width: 50px;
  height: 50px;
  border-radius: var(--radius-full);
  background-color: var(--color-white);
  border: 3px solid var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-lg);
  color: var(--color-accent);
  cursor: pointer;
  margin-right: 1rem;
  padding-top: 2%;
}

.header__avatar:hover {
  background-color: var(--color-gray-100);
}

.header__title {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  color: var(--color-primary);
  margin: 0;

  @media (min-width: 1024px) {
    font-size: var(--font-size-lg);
  }
}
