.menu {
  grid-column: 1;
  grid-row: 1 / span 2;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  z-index: 20;
}

.menu__header {
  padding: 3.5rem 3.5rem 0rem 3.5rem;
}

.menu__logo {
  width: 100px;
}

.menu__nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
}

.menu__btn {
  display: flex;
  align-items: center;
  padding: 0.4rem 2rem 0.4rem 3rem;
  gap: 3rem 10px;
  margin: 0rem 0 1rem 0;
  border: none;
  background: transparent;
  color: var(--color-gray-200);
  font-size: var(--font-size-base);
  cursor: pointer;
  transition:
    background var(--transition-base),
    color var(--transition-base);
  text-align: left;
}

.menu__btn:hover:not(.active-menu-btn) {
  background-color: var(--color-primary-light);
  color: var(--color-white);
}

.active-menu-btn {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}

.menu__footer {
  padding: 0 0 var(--spacing-3xl) 0;
  display: flex;
  flex-direction: column;
}

.menu__footer-link {
  display: block;
  color: var(--color-gray-200);
  text-decoration: none;
  font-size: var(--font-size-sm);
  padding: 0.4rem 0 0.4rem 4rem;
  transition:
    background var(--transition-base),
    color var(--transition-base);
}

.menu__footer-link:hover:not(.active-menu-btn) {
  color: var(--color-accent);
}

.menu__footer-link.active-menu-btn {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}
