<header class="header">
  <div class="header__content">
    <h1 class="header__title">Kanban Project Management Tool</h1>
    <div class="header__actions">
      <button
        type="button"
        class="header__help-btn"
        onclick="window.location.href = 'help.html'"
        aria-label="Help"
      >
        <img
          class="header__icon"
          src="../assets/img/header/help-default.svg"
          alt="Help"
        />
      </button>
      <button class="header__avatar-btn" aria-label="User Profile">
        <span class="header__avatar" id="userAvatar">SM</span>
      </button>
    </div>
  </div>
</header>
