<header class="header__content">
  <div class="header__center-wrapper">
    <img
      class="header__logo"
      src="../assets/img/shared/join-logo-blue.svg"
      alt="Join Logo"
    />

    <h1 class="header__title">Kanban Project Management Tool</h1>

    <button class="back-btn" aria-label="Back to Login">
      <img src="../assets/img/shared/arrow-left-default.svg" alt="" />
    </button>

    <div class="header__actions">
      <button
        class="header__help-btn"
        onclick="window.location.href = 'help.html'"
        aria-label="Help"
      >
        <img src="../assets/img/header/help-default.svg" alt="" />
      </button>

      <div class="header__user">
        <button
          class="header__avatar"
          id="userAvatar"
          aria-haspopup="menu"
          aria-expanded="false"
          aria-label="User menu"
        >
          <span class="header__user-initials"></span>
        </button>

        <div class="header__dropdown" id="userMenu" inert>
          <a
            class="header__dropdown-link header__dropdown-link--help"
            href="help.html"
            tabindex="-1"
          >
            Help
          </a>
          <a
            class="header__dropdown-link"
            href="legal-notice.html"
            tabindex="-1"
          >
            Legal Notice
          </a>
          <a
            class="header__dropdown-link"
            href="privacy-policy.html"
            tabindex="-1"
          >
            Privacy Policy
          </a>
          <a
            class="header__dropdown-link"
            href="../index.html"
            id="logoutLink"
            tabindex="-1"
            >Log out</a
          >
        </div>
      </div>
    </div>
  </div>
</header>
