<aside class="sidebar">
  <div class="sidebar__header">
    <img
      class="sidebar__logo"
      src="../img/shared/join-logo-white.svg"
      alt="Project Logo"
    />
    <span class="sidebar__version">v2.0</span>
  </div>

  <nav class="sidebar__nav">
    <div class="sidebar__section">
      <h3 class="sidebar__section-title">Main</h3>
      <ul class="sidebar__list">
        <li class="sidebar__item">
          <button class="sidebar__btn" id="navDashboard">
            <img
              src="../img/menu/board-default.svg"
              class="sidebar__icon"
              alt=""
            />
            <span class="sidebar__label">Dashboard</span>
          </button>
        </li>

        <li class="sidebar__item">
          <button class="sidebar__btn" id="navProjects">
            <img
              src="../img/menu/summary-default.svg"
              class="sidebar__icon"
              alt=""
            />
            <span class="sidebar__label">Projects</span>
          </button>
        </li>

        <li class="sidebar__item">
          <button class="sidebar__btn" id="navTeam">
            <img
              src="../img/menu/contacts-default.svg"
              class="sidebar__icon"
              alt=""
            />
            <span class="sidebar__label">Team</span>
          </button>
        </li>
      </ul>
    </div>

    <div class="sidebar__section">
      <h3 class="sidebar__section-title">Tools</h3>
      <ul class="sidebar__list">
        <li class="sidebar__item">
          <button class="sidebar__btn" id="navNewTask">
            <img
              src="../img/menu/add-task-default.svg"
              class="sidebar__icon"
              alt=""
            />
            <span class="sidebar__label">New Task</span>
          </button>
        </li>

        <li class="sidebar__item">
          <button class="sidebar__btn" id="navReports">
            <img
              src="../img/menu/summary-default.svg"
              class="sidebar__icon"
              alt=""
            />
            <span class="sidebar__label">Reports</span>
          </button>
        </li>
      </ul>
    </div>
  </nav>

  <div class="sidebar__footer">
    <div class="sidebar__links">
      <a href="./help.html" class="sidebar__footer-link">Help Center</a>
      <span class="sidebar__divider">•</span>
      <a href="./privacy_policy.html" class="sidebar__footer-link">Privacy</a>
      <span class="sidebar__divider">•</span>
      <a href="./legal_notice.html" class="sidebar__footer-link">Legal</a>
    </div>
  </div>
</aside>
