<aside class="menu">
  <div class="menu__header">
    <img
      class="menu__logo"
      src="../assets/img/shared/join-logo-white.svg"
      alt="Join Logo"
    />
  </div>

  <nav class="menu__nav">
    <ul class="menu__list">
      <li class="menu__item">
        <button class="menu__btn" id="navSummary">
          <img
            src="../assets/img/menu/summary-default.svg"
            class="menu__icon"
            alt=""
          />
          <span class="menu__label">Summary</span>
        </button>
      </li>

      <li class="menu__item">
        <button class="menu__btn" id="navAddTask">
          <img
            src="../assets/img/menu/add-task-default.svg"
            class="menu__icon"
            alt=""
          />
          <span class="menu__label">Add Task</span>
        </button>
      </li>

      <li class="menu__item">
        <button class="menu__btn" id="navBoard">
          <img
            src="../assets/img/menu/board-default.svg"
            class="menu__icon"
            alt=""
          />
          <span class="menu__label">Board</span>
        </button>
      </li>

      <li class="menu__item">
        <button class="menu__btn" id="navContacts">
          <img
            src="../assets/img/menu/contacts-default.svg"
            class="menu__icon"
            alt=""
          />
          <span class="menu__label">Contacts</span>
        </button>
      </li>
    </ul>
  </nav>

  <div class="menu__footer">
    <a href="./privacy_policy.html" class="menu__footer-link">Privacy Policy</a>
    <a href="./legal_notice.html" class="menu__footer-link">Legal Notice</a>
  </div>
</aside>
