<aside class="menu">
  <div class="menu__header">
    <img
      class="menu__logo"
      src="../assets/img/shared/join-logo-white.svg"
      alt="Join Logo"
    />
  </div>

  <nav class="menu__nav">
    <button class="menu__btn" id="navSummary">
      <img
        src="../assets/img/menu/summary-default.svg"
        alt=""
        class="menu__icon"
      />
      <span class="menu__label">Summary</span>
    </button>

    <button class="menu__btn" id="navAddTask">
      <img
        src="../assets/img/menu/add-task-default.svg"
        alt=""
        class="menu__icon"
      />
      <span class="menu__label">Add Task</span>
    </button>

    <button class="menu__btn" id="navBoard">
      <img
        src="../assets/img/menu/board-default.svg"
        alt=""
        class="menu__icon"
      />
      <span class="menu__label">Board</span>
    </button>

    <button class="menu__btn" id="navContacts">
      <img
        src="../assets/img/menu/contacts-default.svg"
        alt=""
        class="menu__icon"
      />
      <span class="menu__label">Contacts</span>
    </button>

    <button class="menu__btn login-button d-none" id="navLogin">
      <img
        src="../assets/img/menu/login-default.svg"
        alt=""
        class="menu__icon"
      />
      <span class="menu__label">Log in</span>
    </button>
  </nav>

  <div class="menu__footer">
    <a href="privacy-policy.html" class="menu__footer-link">Privacy Policy</a>
    <a href="legal-notice.html" class="menu__footer-link">Legal notice</a>
  </div>
</aside>
