@media (min-width: 1025px) and (max-width: 1250px) {
  .add-task-container {
    width: 21.875rem;
    padding-left: 0.313rem;
  }

  .add-task-header {
    font-size: var(--font-size-xxl);
    margin-bottom: 1.5rem;
  }

  .task-title {
    font-size: var(--font-size-base);
  }

  .task-description {
    font-size: var(--font-size-base);
  }

  .task-due-date {
    font-size: var(--font-size-base);
  }

  .priority-selection {
    display: flex;
    gap: 0.5rem;
  }

  .priority__button {
    font-size: var(--font-size-xxl);
  }

  .task-assigned-to {
    font-size: var(--font-size-base);
  }

  .task-category {
    font-size: var(--font-size-base);
  }

  .subtask {
    font-size: var(--font-size-base);
  }

  .clear__button {
    font-size: var(--font-size-base);
  }

  .create-task__button {
    font-size: var(--font-size-base);
  }

  .contact-search-input {
    font-size: var(--font-size-base);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .add-task-container {
    width: 21.875rem;
    padding-left: 0.313rem;
  }

  .add-task-header {
    font-size: var(--font-size-xxl);
    margin-bottom: 1.5rem;
  }

  .task-title {
    font-size: var(--font-size-base);
  }

  .task-description {
    font-size: var(--font-size-base);
  }

  .task-due-date {
    font-size: var(--font-size-base);
  }

  .priority-selection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .priority__button {
    font-size: var(--font-size-xxl);
  }

  .task-assigned-to {
    font-size: var(--font-size-base);
  }

  .task-category {
    font-size: var(--font-size-base);
  }

  .subtask {
    font-size: var(--font-size-base);
  }

  .clear__button {
    font-size: var(--font-size-base);
  }

  .create-task__button {
    font-size: var(--font-size-base);
  }

  .contact-search-input {
    font-size: var(--font-size-base);
  }
}

@media (min-width: 400px) and (max-width: 768px) {
  .add-task-content {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .add-task-container {
    width: 100vw;
    z-index: 1;
    padding-bottom: 10rem;
  }

  .add-task-form {
    padding: 1rem 1.5rem 2rem 1.75rem;
    width: 100%;
  }

  .add-task-header {
    font-size: var(--font-size-xxl);
  }

  .left-side,
  .right-side {
    width: 100%;
  }

  .priority__button {
    width: 100%;
    justify-content: center;
  }

  .button-wrapper {
    padding-bottom: 2.813rem;
  }

  .add-task-button {
    position: fixed;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: max-content;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
  }

  .section-description,
  .section-priority {
    margin-bottom: 0;
  }
}

@media (max-width: 399px) {
  .add-task-content {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .add-task-title {
    font-size: var(--font-size-4xl);
  }

  .add-task-container {
    width: 100vw;
    z-index: 1;
    padding-bottom: 10rem;
  }

  .add-task-form {
    padding: 1rem 1.5rem 2rem 1.75rem;
    width: 100%;
  }

  .add-task-header {
    font-size: var(--font-size-xxl);
  }

  .left-side,
  .right-side {
    width: 100%;
  }

  .task-title {
    font-size: var(--font-size-base);
  }

  .task-description {
    font-size: var(--font-size-base);
  }

  .task-due-date {
    font-size: var(--font-size-base);
  }

  .priority-selection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .priority__button {
    width: 100%;
    justify-content: center;
    font-size: var(--font-size-base);
  }

  .task-assigned-to {
    font-size: var(--font-size-base);
  }

  .task-category {
    font-size: var(--font-size-base);
  }

  .subtask {
    font-size: var(--font-size-base);
  }

  .button-wrapper {
    padding-bottom: 4.813rem;
  }

  .add-task-button {
    position: fixed;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: max-content;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
  }

  .clear__button {
    font-size: var(--font-size-base);
  }

  .create-task__button {
    font-size: var(--font-size-base);
  }

  .section-description,
  .section-priority {
    margin-bottom: 0;
  }
}
