/* ------ Add Task Overlay ------ */
.addtask-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.addtask-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.addtask-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 65rem;
  max-height: 90vh;
  background: var(--color-white);
  border-radius: 30px;
  box-shadow: var(--shadow-lg);
  z-index: 101;
  display: flex;
  flex-direction: column;
  transform: translate(calc(-50% + 100vw), -50%);
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.addtask-panel.is-open {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.addtask-panel__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 4rem 2rem 4rem;
}

.addtask-panel__title {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
  letter-spacing: 0;
  margin: 0;
  color: var(--color-black);
}

.addtask-panel__close {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 2rem;
  line-height: 1;
  color: var(--color-gray-600);
  transition:
    transform var(--transition-fast),
    color var(--transition-fast);
}

.addtask-panel__close:hover {
  transform: scale(1.1);
  color: var(--color-primary);
}

.addtask-panel__content {
  flex: 1;
  overflow-y: auto;
  padding: 0rem 4rem 2rem 4rem;
  scrollbar-width: none;
}

.addtask-panel__content::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.addtask-panel__content .add-task-separator {
  width: 1px;
  background-color: #d1d1d1;
  align-self: stretch;
}

/* ------ Overlay Dropdown Contacts ------ */
.overlay-dropdown__item {
  cursor: pointer;
  border-radius: 0.5rem;
  list-style: none;
}

.overlay-dropdown__container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
}

.overlay-dropdown__initial {
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  border: 0.188rem solid white;
}

.overlay-dropdown__info {
  flex: 1;
}

.overlay-dropdown__info span {
  font-size: var(--font-size-xl);
}

.overlay-dropdown__checkmark {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: auto;
  background: url("../assets/img/addtask/checkempty.svg") no-repeat;
  background-size: contain;
}

.overlay-dropdown__selected-contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.overlay-dropdown__selected-contacts .overlay-dropdown__badge {
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
}

/* ------ Tablet ------ */
@media (max-width: 1250px) {
  .addtask-panel {
    width: 95vw;
  }

  .addtask-panel__title {
    font-size: 2.5rem;
  }

  .addtask-panel__header {
    padding: 2rem;
  }

  .addtask-panel__content {
    padding: 1.5rem 2rem;
  }
}

/* ------ Mobile Screens ------ */
@media (max-width: 768px) {
  .addtask-overlay,
  .addtask-panel {
    display: none !important;
  }
}
