.add-task-title {
    font-size: var(--font-size-6xl);
    font-weight: var(--font-weight-bold);
    margin-bottom: 1rem;
}

.add-task-content {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.add-task__button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center
}