@media (min-width: 1025px) and (max-width: 1250px) {
    .add-task-container {
        width: 21.875rem;
        padding-left: 0.313rem;
    }
    
    .add-task-header {
        font-size: var(--font-size-xxl);    
        margin-bottom: 1.5rem;
    }

    .task-title {
        font-size: var(--font-size-base);
    }

    .task-description {
        font-size: var(--font-size-base);
    }

    .task-due-date {
        font-size: var(--font-size-base);
    }

    .priority-selection {
        display: flex;
        gap: 0.5rem;
    }

    .priority__button {
        font-size: var(--font-size-xxl);
    }

    .task-assigned-to {
        font-size: var(--font-size-base);
    }

    .task-category {
        font-size: var(--font-size-base);
    }

    .subtask {
        font-size: var(--font-size-base);
    }

    .clear__button {
        font-size: var(--font-size-base);
    }

    .create-task__button {
        font-size: var(--font-size-base);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .add-task-container {
        width: 21.875rem;
        padding-left: 0.313rem;
    }
    
    .add-task-header {
        font-size: var(--font-size-xxl);    
        margin-bottom: 1.5rem;
    }

    .task-title {
        font-size: var(--font-size-base);
    }

    .task-description {
        font-size: var(--font-size-base);
    }

    .task-due-date {
        font-size: var(--font-size-base);
    }

    .priority-selection {
        display: flex;
        flex-direction: column;
        max-width: 7.5rem;
        gap: 0.5rem;
    }

    .priority__button {
        font-size: var(--font-size-xxl);
    }

    .task-assigned-to {
        font-size: var(--font-size-base);
    }

    .task-category {
        font-size: var(--font-size-base);
    }

    .subtask {
        font-size: var(--font-size-base);
    }

    .clear__button {
        font-size: var(--font-size-base);
    }

    .create-task__button {
        font-size: var(--font-size-base);
    }
}