/* ====== Buttons ====== */
.btn {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  padding: 0.625rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xl);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.2s ease,
    box-shadow 0.2s ease,
    color 0.2s ease;
}

.btn:hover {
  background-color: var(--color-accent);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.btn--outline {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.btn--outline:hover {
  border-color: var(--color-accent);
  color: var(--color-accent);
  background-color: var(--color-white);
}

.btn--block {
  width: 100%;
}

@media (max-width: 768px) {
  .btn {
    font-size: var(--font-size-base);
  }
}

/* ====== Separators ====== */
.separator {
  border-radius: 0.625rem;
  background-color: var(--color-gray-200); /* default Farbe */
}

.separator--v {
  width: 0.125rem;
  height: auto;
  margin: 0.8rem;
  align-self: stretch;
  display: inline-block;
}

.separator--v-short {
  width: 0.125rem;
  height: 3rem;
  margin: 0.8rem;
  display: none;
}

.separator--h {
  width: 7rem;
  height: 0.125rem;
  margin: 0.5rem 0;
  display: block;
}

.separator--h-mobile {
  width: 7rem;
  height: 0.125rem;
  display: block;
}

.separator--blue {
  background-color: var(--color-accent);
}

.separator-gray {
  background-color: var(--color-gray-200);
}

@media (min-width: 768px) {
  .separator--v-short {
    display: inline-block;
  }

  .separator--h-mobile {
    display: none;
  }
}
