@media (min-width: 769px) {
  .contacts-list-container {
    padding-left: 0.313rem;
  }

  .contacts-form.active {
    height: 55vh;
    top: 20%;
  }

  .create-contact-button,
  .cancel-button {
    font-size: var(--font-size-base);
    padding: 0.313rem;
  }

  @media (max-width: 1145px) {
    .add-new-contact-container {
      padding: 1rem 0.75rem;
    }
    .add-new-contact-button {
      font-size: var(--font-size-base);
      padding: 0.313rem;
    }
    .add-new-contact-button img {
      width: 1.25rem;
      height: 1.25rem;
    }
    .contacts-list-container {
      width: 15.625rem;
    }
    .letter-title {
      font-size: var(--font-size-base);
      padding: 0.438rem 0;
    }
    .contacts-list {
      padding: 0.5rem 0.75rem 1rem 0.875rem;
    }
    .contacts-detail-container {
      margin-left: 0;
    }
    .contacts-detail-header-title {
      margin-top: 3.125rem;
      gap: 0.625rem;
    }
    .contacts-detail-header-title-first {
      font-size: 2.188rem;
    }
    .separator {
      font-size: 2.438rem;
    }
    .contacts-detail-header-title-second {
      font-size: 1.5rem;
    }
    .contact-detail-name-and-actions {
      padding-left: 1.5rem;
    }
    .contact-detail-name {
      font-size: 1.688rem;
    }
    .contact-detail-initial {
      width: 4.375rem;
      height: 4.375rem;
      font-size: 1.563rem;
    }
    .contact-detail-initial-form {
      width: 5.625rem;
      height: 5.625rem;
      font-size: 2.9375rem;
    }
    .contact-detail-initial-form img {
      width: 2rem;
      height: 2rem;
    }
    .contact-card {
      gap: 0.313rem;
      padding: 0.5rem 0.75rem;
    }
    .contact-email,
    .contact-initial {
      font-size: var(--font-size-xs);
    }
    .contact-initial {
      width: 2.5rem;
      height: 2.5rem;
    }
    h3,
    .h3 {
      font-size: var(--font-size-base);
    }
    .contact-detail-edit-button,
    .contact-detail-delete-button {
      width: 3.125rem;
      height: 1.25rem;
    }
    .contacts-detail-header {
      gap: 0.313rem;
    }
    .form-contact-header {
      padding: 2.063rem 1.438rem;
    }
    .form-contact-header-title {
      font-size: var(--font-size-3xl);
    }
    .form-input-name,
    .form-input-email,
    .form-input-phone {
      padding: 0.625rem;
      height: 2.5rem;
      font-size: var(--font-size-base);
    }
    .cancel-button img {
      max-width: 6.25rem;
    }
  }

  @media (min-width: 1146px) {
    .contacts-list-container {
      width: 21.875rem;
    }
    .contacts-detail-header-title-first {
      font-size: 3.125rem;
    }
    .separator {
      font-size: 3.063rem;
    }
    .contacts-detail-header-title-second {
      font-size: 1.25rem;
    }
    .contact-detail-name-and-actions {
      padding-left: 2.125rem;
    }
    .contact-detail-name {
      font-size: 2.313rem;
    }
    .contact-detail-initial {
      width: 5.625rem;
      height: 5.625rem;
      font-size: 2.313rem;
    }
    .contact-detail-initial-form {
      width: 7.5rem;
      height: 7.5rem;
      font-size: 2.9375rem;
    }
    .contact-detail-initial-form img {
      width: 2.625rem;
      height: 2.625rem;
    }
    .contact-card {
      gap: 0.625rem;
    }
    .form-contact-header-title {
      font-size: 2.813rem;
    }
    .form-contact-subtitle {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 768px) {
  .add-new-contact-container,
  .cancel-button,
  .close-button__desktop,
  .action__button,
  .form-contact__logo,
  .separator {
    display: none;
  }

  .contacts-list-container {
    width: 100vw;
    z-index: 1;
  }
  .contact-detail-slide {
    z-index: 2;
  }
  .add-contact__fab,
  .action__fab,
  .close-button__mobile,
  .contacts-detail__back,
  .separator-mobile {
    display: flex;
  }

  .contacts-form {
    height: 80vh;
  }
  .form-contact-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-contact-header {
    width: 100%;
    border-radius: 2.5rem 2.5rem 0 0;
    height: 50%;
    z-index: -1;
  }
  .add-new-contact-profile-picture {
    width: 100%;
    z-index: 1;
    position: absolute;
  }
  .add-new-contact-form {
    width: 100%;
    height: 50%;
    align-items: center;
    padding: 3.125rem 1.25rem 0 1.25rem;
    margin-left: 0;
  }
  .form-contact-buttons {
    padding-top: 0;
  }
  .close-button {
    color: white;
  }
  main.content-scroll-area {
    position: relative;
  }

  .contacts-detail-container {
    position: absolute;
    inset: 0;
    background: white;
    z-index: 5;
    display: none;
  }
  .contacts-detail-container.active {
    display: block;
    margin-left: 0;
  }
  .contacts-detail-header-title {
    display: block;
    margin-top: 3rem;
    margin-bottom: 1.3125rem;
  }
  .contacts-detail-header-title-second {
    font-size: 1.25rem;
  }

  .success-message-slide {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    z-index: 9999;
    opacity: 0;
    transition:
      transform 0.4s ease,
      opacity 0.4s ease;
  }
  .success-message-slide.show {
    transform: translate(-50%, -15rem);
    opacity: 1;
  }

  .input-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .error-message {
    position: absolute;
    bottom: -18px;
    left: 42px;
  }

  @media (min-width: 400px) {
    .contacts-list-container {
      padding-bottom: 10rem;
    }
    .contacts-list {
      padding: 1rem 1.5rem 2rem 1.75rem;
    }
    .form-contact-header-title {
      font-size: 3.2rem;
    }
    .form-input-name,
    .form-input-email,
    .form-input-phone {
      width: 100%;
      height: 2.8rem;
    }
    .contacts-detail-header-title-first {
      font-size: 2.9375rem;
    }
    .contact-detail-initial {
      width: 5rem;
      height: 5rem;
      font-size: 1.688rem;
    }
    .contact-detail-initial-form {
      width: 7.5rem;
      height: 7.5rem;
      font-size: 2.9375rem;
    }
    .contact-detail-initial-form img {
      width: 2.625rem;
      height: 2.625rem;
    }
    .contact-detail-name-and-actions {
      padding-left: 0.813rem;
    }
    .contact-detail-name {
      font-size: 2.25rem;
    }
    .delete-button,
    .save-contact-button {
      width: 6.8rem;
      height: 3rem;
    }
  }

  @media (max-width: 399px) {
    .contacts-list-container {
      padding: 0;
    }
    .contacts-list {
      padding: 0.5rem;
    }
    .contact-initial {
      width: 2.5rem;
      height: 2.5rem;
      font-size: var(--font-size-base);
    }
    .contact-card {
      gap: 1rem;
    }
    .form-contact-header-title {
      font-size: 2.5rem;
    }
    .form-contact-subtitle {
      font-size: 1.5rem;
    }
    .form-input-name,
    .form-input-email,
    .form-input-phone {
      width: 100%;
      height: 2.5rem;
      font-size: var(--font-size-base);
    }
    .create-contact-button {
      width: 11rem;
      height: 3rem;
      font-size: 1rem;
    }
    .add-new-contact-form {
      padding-left: 0.938rem;
      padding-right: 0.938rem;
      gap: 1rem;
    }
    .contacts-detail-header-title-first {
      font-size: 2.9375rem;
    }
    .contacts-detail__back {
      right: 0.625rem;
    }
    .contacts-detail-header {
      gap: 0;
    }
    .contact-detail-initial {
      width: 4.75rem;
      height: 4.75rem;
      font-size: 1.5rem;
    }
    .contact-detail-initial-form {
      width: 6.25rem;
      height: 6.25rem;
      font-size: 2.5rem;
    }
    .contact-detail-initial-form img {
      width: 2.625rem;
      height: 2.625rem;
    }
    .contact-detail-name-and-actions {
      padding-left: 0.813rem;
    }
    .contact-detail-name {
      font-size: 2rem;
    }
    .delete-button,
    .save-contact-button {
      width: 6rem;
      height: 2.5rem;
      font-size: var(--font-size-base);
    }
  }
}
