@media (min-width: 1145px) and (max-width: 1360px) {
  .contacts-list-container {
    width: 21.875rem;
    padding-left: 0.313rem;
  }

  .contacts-detail-header-title-first {
    font-size: 3.125rem;
  }

  .separator {
    font-size: 3.063rem;
  }

  .contacts-detail-header-title-second {
    font-size: 1.25rem;
  }

  .contact-detail-name-and-actions {
    padding-left: 2.125rem;
  }

  .contact-detail-name {
    font-size: 2.313rem;
  }

  .contact-detail-initial {
    width: 5.625rem;
    height: 5.625rem;
    font-size: 2.313rem;
  }

  .contact-detail-initial-form {
    width: 7.5rem;
    height: 7.5rem;
    font-size: 2.9375rem;
  }

  .contact-detail-initial-form img {
    width: 2.625rem;
    height: 2.625rem;
  }

  .contact-card {
    gap: 0.625rem;
  }

  .create-contact-button {
    font-size: var(--font-size-base);
    padding: 0.313rem;
  }

  .cancel-button {
    font-size: var(--font-size-base);
    padding: 0.313rem;
  }

  .form-contact-header-title {
    font-size: 2.813rem;
  }

  .form-contact-subtitle {
    font-size: 1.5rem;
  }

  .contacts-form active {
    height: 55vh;
    top: 20%;
  }
}

@media (min-width: 769px) and (max-width: 1145px) {
  .add-new-contact-container {
    padding: 1rem 0.75rem 1rem 0.75rem;
  }

  .add-new-contact-button {
    font-size: var(--font-size-base);
    padding: 0.313rem 0.313rem;
  }

  .add-new-contact-button img {
    width: 1.25rem;
    height: 1.25rem;
  }

  .contacts-list-container {
    width: 15.625rem;
    padding-left: 0.313rem;
  }

  .letter-title {
    font-size: var(--font-size-base);
    padding-bottom: 0.438rem;
    padding-top: 0.438rem;
  }

  .contacts-list {
    padding: 0.5rem 0.75rem 1rem 0.875rem;
  }

  .contacts-detail-container {
    margin-left: 0;
  }

  .contacts-detail-header-title {
    margin-top: 3.125rem;
    gap: 0.625rem;
  }

  .contacts-detail-header-title-first {
    font-size: 2.188rem;
  }

  .separator {
    font-size: 2.438rem;
  }

  .contacts-detail-header-title-second {
    font-size: 1.5rem;
  }

  .contact-detail-name-and-actions {
    padding-left: 1.5rem;
  }

  .contact-detail-name {
    font-size: 1.688rem;
  }

  .contact-detail-initial {
    width: 4.375rem;
    height: 4.375rem;
    font-size: 1.563rem;
  }

  .contact-detail-initial-form {
    width: 5.625rem;
    height: 5.625rem;
    font-size: 2.9375rem;
  }

  .contact-detail-initial-form img {
    width: 2rem;
    height: 2rem;
  }

  .contact-card {
    gap: 0.313rem;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  }

  .contact-email {
    font-size: var(--font-size-xs);
  }

  .contact-initial {
    width: 2.5rem;
    height: 2.5rem;
    font-size: var(--font-size-xs);
  }

  h3,
  .h3 {
    font-size: var(--font-size-base);
  }

  .contact-detail-edit-button {
    width: 3.125rem;
    height: 1.25rem;
  }

  .contact-detail-delete-button {
    width: 3.125rem;
    height: 1.25rem;
  }

  .contacts-detail-header {
    gap: 0.313rem;
  }

  .form-contact-header {
    padding: 2.063rem 1.438rem 2.063rem 1.438rem;
  }

  .form-contact-header-title {
    font-size: var(--font-size-3xl);
  }

  .contacts-form active {
    height: 55vh;
    top: 20%;
  }

  .form-input-name,
  .form-input-email,
  .form-input-phone {
    padding: 0.625rem;
    height: 2.5rem;
    font-size: var(--font-size-base);
  }

  .cancel-button img {
    max-width: 6.25rem;
  }

  .cancel-button {
    padding: 0.313rem;
    font-size: var(--font-size-base);
  }

  .create-contact-button {
    padding: 0.313rem;
    font-size: var(--font-size-base);
  }
}