.add-new-contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin-left: 1.25rem;
  width: 40%;
  padding: 1.25rem;
}

.form-input {
  height: 3.125rem;
  padding: 0.8125rem 1.3125rem;
  border: 1px solid var(--color-gray-300);
  border-radius: var(--radius-lg);
  font-size: var(--font-size-xl);
  max-width: 26.875rem;
}

.form-input-name {
  height: 3.125rem;
  padding: 0.8125rem 1.3125rem;
  border: 1px solid var(--color-gray-300);
  border-radius: var(--radius-lg);
  font-size: var(--font-size-xl);
  color: #d1d1d1;
  max-width: 26.875rem;
  opacity: 0.4;
  background: url(../assets/img/contacts/person.svg) no-repeat right;
  background-size: 1rem;
  background-position: 95%;
}

.form-input-email {
  height: 3.125rem;
  padding: 0.8125rem 1.3125rem;
  border: 1px solid var(--color-gray-300);
  border-radius: var(--radius-lg);
  font-size: var(--font-size-xl);
  max-width: 26.875rem;
  opacity: 0.4;
  background: url(../assets/img/contacts/mail.svg) no-repeat right;
  background-size: 1rem;
  background-position: 95%;
}

.form-input-phone {
  height: 3.125rem;
  padding: 0.8125rem 1.3125rem;
  border: 1px solid var(--color-gray-300);
  border-radius: var(--radius-lg);
  font-size: var(--font-size-xl);
  max-width: 26.875rem;
  opacity: 0.4;
  background: url(../assets/img/contacts/call.svg) no-repeat right;
  background-size: 1rem;
  background-position: 95%;
}

.cancel-button {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: solid 1px var(--color-primary);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-normal);
  padding: 0.625rem 0.9375rem;
  border-radius: var(--radius-md);
  cursor: pointer;
  width: 7.1875rem;
  height: 3.4375rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.delete-button {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: solid 1px var(--color-primary);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-normal);
  padding: 0.625rem 0.9375rem;
  border-radius: var(--radius-md);
  cursor: pointer;
  width: 7.1875rem;
  height: 3.4375rem;
}

.create-contact-button {
  font-weight: var(--font-weight-bold);
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  padding: 0.625rem 0.9375rem;
  border-radius: var(--radius-md);
  cursor: pointer;
}

.save-contact-button {
  background-color: var(--color-primary);
  color: white;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-normal);
  border: none;
  padding: 0.625rem 0.9375rem;
  border-radius: var(--radius-md);
  cursor: pointer;
  width: 7.1875rem;
  height: 3.4375rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.create-contact-button {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-normal);
  border: none;
  padding: 0.625rem 0.9375rem;
  border-radius: var(--radius-md);
  cursor: pointer;
  width: 13.4375rem;
  height: 3.4375rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.form-contact-header {
  background-color: var(--color-primary);
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  max-width: 28.125rem;
  font-weight: var(--font-weight-bold);
  padding: 4.125rem 2.875rem;
  border-radius: 2.5rem 0 0 2.5rem;
}

.form-contact-subtitle {
  font-size: 1.6875rem;
  color: var(--color-white);
  font-weight: var(--font-weight-normal);
  margin-top: 0.625rem;
  display: flex;
  align-items: center;
}

.form-contact-header-title {
  font-size: 3.8125rem;
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
  margin-top: 0.625rem;
  display: flex;
  align-items: center;
}

.form-contact-header-line {
  font-size: 0.625rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-accent);
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.contacts-form {
  width: 80vw;
  max-width: 90rem;
  overflow: hidden;
  height: 60vh;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-white);
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateX(100%);
  transition:
    transform 350ms ease-out,
    opacity 350ms ease-out;
}

.contacts-form.active {
  opacity: 1;
  transform: translateX(-50%);
}

#loaded-contact-form {
  display: none;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
}

.form-contact-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.close-button {
  position: absolute;
  top: 3rem;
  right: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-gray-600);
  cursor: pointer;
}

.form-contact-buttons {
  padding-top: 2rem;
  display: flex;
  gap: 1.5625rem;
}
