@media (max-width: 399px) {

.add-new-contact-container {
    display: none;
  }

  .contacts-list-container {
    width: 100vw;
    z-index: 1;
    padding: 0;
  }

  .contact-detail-slide {
    z-index: 2;
  }

  .contacts-list {
    padding: 0.5rem;
  }
  
  .contact-initial {
    width: 2.5rem;
    height: 2.5rem;
    font-size: var(--font-size-base);
  }

 .contact-card {
    gap: 1rem;
  }


  .add-contact__fab {
    display: flex;
  }

  .action__fab {
    display: flex;
  }

  .contacts-form {
    top: 3%;
    height: 92vh;
  }

  .form-contact-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-contact-header {
    width: 100%;
    border-radius: 2.5rem 2.5rem 0rem 0rem;
    height: 50%;
    z-index: -1;
  }

  .form-contact__logo {
    display: none;
  }

  .form-contact-header-title {
    font-size: 2.5rem;
  }

  .form-contact-subtitle {
    font-size: 1.5rem;
  }

  .add-new-contact-profile-picture {
    width: 100%;
    z-index: 1;
    position: absolute;
  }

  .add-new-contact-form {
    height: 50%;
  }

  .form-input-name,
  .form-input-email,
  .form-input-phone {
    width: 100%;
    height: 2.5rem;
    font-size: var(--font-size-base);
  }

  .close-button {
    color: white;
  }

  .create-contact-button {
    width: 11rem;
    height: 3rem;
    font-size: 1rem;
  }

  .add-new-contact-form {
    width: 100%;
    align-items: center;
    padding: revert;
    padding-top: 3.125rem;
    padding-left: 0.938rem;
    padding-right: 0.938rem;
    margin-left: 0;
    gap: 1rem;
  }

  .form-contact-buttons {
    padding-top: 0;
  }

  .cancel-button {
    display: none;
  }

  .close-button__desktop {
    display: none;
  }

  .close-button__mobile {
    display: block;
  }

   main.content-scroll-area {
    position: relative;
  }

  .contacts-detail-container {
    position: absolute;
    inset: 0;
    background: white;
    z-index: 5;
    display: none;
  }

  .contacts-detail-container.active {
    display: block;
    margin-left: 0rem;
  }

  .contacts-detail-header-title {
    display: revert;
    margin-top: 3rem;
    margin-bottom: 1.3125rem;
  }

  .contacts-detail-header-title-first {
    font-size: 2.9375rem;
  }

  .contacts-detail-header-title-second{
    font-size: 1.25rem;
  }

  .separator {
    display: none;
  }

  .separator-mobile {
    display: revert;
  }

  .contacts-detail__back {
    display: revert;
    right: 0.625rem;
  }

  .contacts-detail-header {
    gap: 0;
  }

  .contact-detail-initial {
    width: 4.75rem;
    height: 4.75rem;
    font-size: 1.5rem;
  }

  .contact-detail-initial-form {
    width: 6.25rem;
    height: 6.25rem;
    font-size: 2.5rem;
  }

  .contact-detail-initial-form img {
    width: 2.625rem;
    height: 2.625rem;
  }

  .contact-detail-name-and-actions {
    padding-left: 0.813rem;
  }

  .contact-detail-name {
    font-size: 2rem;
  }

  .action__button {
    display: none;
  }

  .delete-button,
  .save-contact-button {
    width: 6rem;
    height: 2.5rem;
    font-size: var(--font-size-base);
  }

.success-message {
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 18rem;
    height: 4rem;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-regular);
    border-radius: 1.25rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.success-message-slide {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    z-index: 9999;
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.success-message-slide.show {
    transform: translate(-50%, -15rem);
    opacity: 1;
}
}