#contacts-container {
  padding-top: 90px;
  margin-top: 0px;
  margin-left: 235px;
  height: 100vh;
  box-sizing: border-box;
}

.contacts-container {
    display:flex;
    height: 100%;
}

.contacts-list{
    flex: 1;
    overflow-y: auto;
    padding: 16px 24px 32px 28px;
}

.contacts-list-container {
    width: 450px;
    border-right: 1px solid var(--color-gray-200);
    background-color: var(--color-white);
    padding-left: 28px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contact-card {
    display: flex;
    align-items: center;
    gap: 35px;
    cursor: pointer;
    border-radius: var(--radius-md);
    padding: 15px 24px 15px 24px;
}

.contact-email {
    color: #007CEE;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
}

.contacts-detail-container {
    margin-left: 40px;
    flex-grow: 1;
    background-color: var(--color-gray-50);
    padding-left: 21px;
    
}
.contacts-detail-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.contacts-detail-header-title {
    display: flex;
    align-items: center;
    margin-top:  110px;
    margin-bottom: 30px;
    gap: 30px;
}

.contacts-detail-header-title-first {
    font-size: 61px;
    font-weight: var(--font-weight-bold);
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.separator {
    font-size: 59px;
    font-weight: var(--font-weight-medium);
    margin-right: 5px;
    color: #29ABE2;
    display: flex;
    align-items: center;
}

.contacts-detail-header-title-second {
    font-size: 27px;
    font-weight: var(--font-weight-normal);
    color: var(--color-primary);
    display: flex;
    align-items: center;
}

.contact-detail-initial {
    width: 120px;
    height: 120px;
    border-radius: var(--radius-full);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 47px;
    font-weight: var(--font-weight-medium);
    border: 3px solid var(--color-white);
}

.contact-detail-name-and-actions {
    padding-left: 54px;
}

.contact-detail-name {
    font-size: 47px;
    font-weight: var(--font-weight-medium);
    padding-bottom: 5px;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-initial {
    width: 50px;
    height: 50px;
    border-radius: var(--radius-full);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    border: 2px solid var(--color-white);
}

.contact-information-title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-normal);
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.contact-info-header {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
    margin-bottom: 15px;
    margin-top: 15px;
}

.contact-info-email {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    color: #007CEE;
}

.contact-info-phone {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
}

.add-new-contact-button {
    width: 100%;
    padding: 10px 15px;
    background-color: var(--color-primary);
    color: white;
    border: 1px solid var(--color-primary);
    border-radius: var(--radius-lg);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
}

.add-new-contact-button:hover {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    box-shadow: var(--shadow-md);
}

.add-new-contact-button img {
    width: 32px;
    height: 32px;
}

.letter-title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-regular);
    padding: 17px 36px 17px 36px
}

.letter-group hr {
    border: none;
    border-top: 1px solid #ccc;
    margin-bottom: 10px;
}

.add-new-contact-container {
    display: flex;
    background-color: var(--color-white);
    border-radius: var(--radius-md);
    padding: 32px 24px 32px 24px;
    flex-shrink: 0;
}

.add-new-contact-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    margin-left: 20px;
    width: 40%;
    padding: 20px;
}

.form-input {
    height: 50px;
    padding: 13px 21px 13px 21px;
    border: 1px solid var(--color-gray-300);
    border-radius: var(--radius-lg);
    font-size: var(--font-size-xl);
    max-width: 430px;
}

.cancel-button {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: solid 1px var(--color-primary);
    padding: 10px 15px;
    border-radius: var(--radius-md);
    cursor: pointer;
}

.delete-button {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: solid 1px var(--color-primary);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-normal);
    padding: 10px 15px;
    border-radius: var(--radius-md);
    cursor: pointer;
    width: 115px;
    height: 55px;
}

.create-contact-button {
    background-color: var(--color-primary);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: var(--radius-md);
    cursor: pointer;
}

.save-contact-button {
    background-color: var(--color-primary);
    color: white;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-normal);
    border: none;
    padding: 10px 15px;
    border-radius: var(--radius-md);
    cursor: pointer;
    width: 115px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form-contact-header {
    background-color: var(--color-primary);
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    max-width: 450px;
    font-weight: var(--font-weight-bold);
    padding: 66px 46px 66px 46px;
    border-radius: 40px 0px 0px 40px;
}

.form-contact-header-title {
    font-size: 61px;
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.form-contact-header-line {
    font-size: 10px;
    font-weight: var(--font-weight-bold);
    color: var(--color-accent);
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.add-new-contact-profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18%;
}

.active-contact {
    background-color: var(--color-primary);
    color: var(--color-white)
}

.contact-detail-edit-button {
    width: 62px;
    height: 24px;
    background-image: url("../assets/img/contacts/edit-contacts.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    cursor: pointer;
}

.contact-detail-edit-button:hover {
    background-image: url("../assets/img/contacts/edit-contacts-hover.svg");
}

.contact-detail-delete-button {
    width: 81px;
    height: 24px;
    padding-left: 130px;
    background-image: url("../assets/img/contacts/delete-contacts.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    cursor: pointer;
}

.contact-detail-delete-button:hover {
    background-image: url("../assets/img/contacts/delete-contacts-hover.svg");
}


.overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}



.contacts-form {
    width: 80vw;
    max-width: 1440px;
    overflow: hidden;
    height: 60vh;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-white);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#loaded-contact-form {
    display: none;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}


.form-contact-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.close-button {
    position: absolute;
    top: 48px;
    right: 48px;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-gray-600);
    cursor: pointer;
}

.form-contact-buttons {
    padding-top: 32px;
    display: flex;
    gap: 25px;
}