@media (min-width: 1025px) and (max-width: 1250px) {
  .contacts-list-container {
    width: 350px;
    padding-left: 5px;
  }

  .contacts-detail-header-title-first {
    font-size: 50px;
  }

  .separator {
    font-size: 49px;
  }

  .contacts-detail-header-title-second {
    font-size: 20px;
  }

  .contact-detail-name-and-actions {
    padding-left: 34px;
  }

  .contact-detail-name {
    font-size: 37px;
  }

  .contact-detail-initial {
    width: 90px;
    height: 90px;
    font-size: 37px;
  }

  .contact-detail-initial-form {
    width: 120px;
    height: 120px;
    font-size: 2.9375rem;
  }

  .contact-detail-initial-form img {
    width: 2.625rem;
    height: 2.625rem;
  }

  .contact-card {
    gap: 10px;
  }

  .create-contact-button {
    font-size: var(--font-size-base);
    padding: 5px;
  }

  .cancel-button {
    font-size: var(--font-size-base);
    padding: 5px;
  }

  .form-contact-header-title {
    font-size: 45px;
  }

  .form-contact-subtitle {
    font-size: 24px;
  }

  .contacts-form active {
    height: 55vh;
    top: 20%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .add-new-contact-container {
    padding: 16px 12px 16px 12px;
  }

  .add-new-contact-button {
    font-size: var(--font-size-base);
    padding: 5px 5px;
  }

  .add-new-contact-button img {
    width: 20px;
    height: 20px;
  }

  .contacts-list-container {
    width: 250px;
    padding-left: 5px;
  }

  .letter-title {
    font-size: var(--font-size-base);
    padding-bottom: 7px;
    padding-top: 7px;
  }

  .contacts-list {
    padding: 8px 12px 16px 14px;
  }

  .contacts-detail-container {
    margin-left: 0px;
  }

  .contacts-detail-header-title {
    margin-top: 50px;
    gap: 10px;
  }

  .contacts-detail-header-title-first {
    font-size: 35px;
  }

  .separator {
    font-size: 39px;
  }

  .contacts-detail-header-title-second {
    font-size: 24px;
  }

  .contact-detail-name-and-actions {
    padding-left: 24px;
  }

  .contact-detail-name {
    font-size: 27px;
  }

  .contact-detail-initial {
    width: 70px;
    height: 70px;
    font-size: 25px;
  }

  .contact-detail-initial-form {
    width: 90px;
    height: 90px;
    font-size: 2.9375rem;
  }

  .contact-detail-initial-form img {
    width: 2rem;
    height: 2rem;
  }

  .contact-card {
    gap: 5px;
    padding: 8px 12px 8px 12px;
  }

  .contact-email {
    font-size: var(--font-size-xs);
  }

  .contact-initial {
    width: 40px;
    height: 40px;
    font-size: var(--font-size-xs);
  }

  h3,
  .h3 {
    font-size: var(--font-size-base);
  }

  .contact-detail-edit-button {
    width: 50px;
    height: 20px;
  }

  .contact-detail-delete-button {
    width: 50px;
    height: 20px;
  }

  .contacts-detail-header {
    gap: 5px;
  }

  .form-contact-header {
    padding: 33px 23px 33px 23px;
  }

  .form-contact-header-title {
    font-size: var(--font-size-3xl);
  }

  .contacts-form active {
    height: 55vh;
    top: 20%;
  }

  .form-input-name,
  .form-input-email,
  .form-input-phone {
    padding: 10px;
    height: 40px;
    font-size: var(--font-size-base);
  }

  .cancel-button img {
    max-width: 100px;
  }

  .cancel-button {
    padding: 5px;
    font-size: var(--font-size-base);
  }

  .create-contact-button {
    padding: 5px;
    font-size: var(--font-size-base);
  }
}

@media (min-width: 400px) and (max-width: 768px) {
  .add-new-contact-container {
    display: none;
  }

  .contacts-list-container {
    width: 100vw;
    z-index: 1;
    position: absolute;
  }

  .contact-detail-slide {
    z-index: 2;
  }
  
  .add-contact__fab {
    display: flex;
  }

  .contacts-form {
    top: 3%;
    height: 92vh;
  }

  .form-contact-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-contact-header {
    width: 100%;
    border-radius: 2.5rem 2.5rem 0rem 0rem;
    height: 50%;
    z-index: -1;
  }

  .form-contact__logo {
    display: none;
  }

  .form-contact-header-title {
    font-size: 3.2rem;
  }

  .add-new-contact-profile-picture {
    width: 100%;
    z-index: 1;
    position: absolute;
  }

  .add-new-contact-form {
    height: 50%;
  }

  .form-input-name,
  .form-input-email,
  .form-input-phone {
    width: 100%;
    height: 2.8rem;
  }

  .close-button {
    color: white;
  }

  .add-new-contact-form {
    width: 100%;
    align-items: center;
    padding: revert;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0;
  }

  .form-contact-buttons {
    padding-top: 0;
  }

  .cancel-button {
    display: none;
  }

  .close-button__desktop {
    display: none;
  }

  .close-button__mobile {
    display: block;
  }

   main.content-scroll-area {
    position: relative;
  }

  .contacts-detail-container {
    position: absolute;
    inset: 0;
    background: white;
    z-index: 10;
    display: none;
  }

  .contacts-detail-container.active {
    display: block;
    margin-left: 0rem;
  }

  .contacts-detail-header-title {
    display: revert;
    margin-top: 3rem;
    margin-bottom: 1.3125rem;
  }

  .contacts-detail-header-title-first {
    font-size: 2.9375rem;
  }

  .contacts-detail-header-title-second{
    font-size: 1.25rem;
  }

  .separator {
    display: none;
  }

  .separator-mobile {
    display: revert;
  }

  .contact-detail-initial {
    width: 5rem;
    height: 5rem;
    font-size: 1.688rem;
  }

  .contact-detail-initial-form {
    width: 120px;
    height: 120px;
    font-size: 2.9375rem;
  }

  .contact-detail-initial-form img {
    width: 2.625rem;
    height: 2.625rem;
  }

  .contact-detail-name-and-actions {
    padding-left: 0.813rem;
  }

  .contact-detail-name {
    font-size: 2.25rem;
  }

  .action__button {
    display: none;
  }

  .delete-button,
  .save-contact-button {
    width: 6.8rem;
    height: 3rem;
  }

}
