/* ====== 1. Layout & Page Wrapper ======*/
.body-login {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-50);
}

.login-page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* ====== 2. Header Navigation ====== */
.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 3.75rem;
  position: relative;
  z-index: 100;
}

.header-logo {
  width: 6.25rem;
}

.header-signup-container {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

/* ====== 3. Login Card ====== */
.login-container {
  background-color: var(--color-white);
  padding: 3rem 6rem;
  border-radius: 1.875rem;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 37.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -8rem;
}

.login-container__title {
  font-size: 3rem;
  margin: 0;
  color: var(--color-primary-light);
}

.login-container__underline {
  height: 0.2rem;
  width: 8rem;
  background-color: #29abe2;
  margin: 1rem 0 2rem 0;
  border-radius: 2px;
}

/* ====== 4. Form Elements ====== */
.login-container__form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
}

.login-container__input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.75rem 0;
  font-size: 1rem;
  background: transparent;
  min-width: 0;
}

.input-icon {
  width: 1.5rem;
  height: auto;
  margin-left: 0.75rem;
  flex-shrink: 0;
}

.input-group {
  display: flex;
  align-items: center;
  background-color: white;
  border: 0.0625rem solid var(--color-gray-200);
  border-radius: 0.625rem;
  padding: 0 1.3125rem;
  transition: border-color 0.2s;
  width: 100%;
}

.input-group:focus-within {
  border-color: #29abe2;
}

.login-container__input::placeholder {
  color: var(--color-gray-200);
  font-size: 0.875rem;
  opacity: 1;
}

.login-container__input:focus {
  border-color: #29abe2;
}

/* ====== 5. Buttons & Actions ====== */
.login-container__actions {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 1.6rem;
}

.btn-signup,
.login-container__btn {
  padding: 0.625rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-signup,
.login-container__btn {
  background-color: var(--color-primary-light);
  color: var(--color-white);
  border: none;
}

.btn-signup:hover,
.login-container__btn:hover {
  background-color: #29abe2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.login-container__btn--guest {
  background-color: transparent;
  border: 0.0625rem solid var(--color-primary);
  color: var(--color-primary);
}

.login-container__btn--guest:hover {
  border-color: #29abe2;
  color: #29abe2;
  background-color: white;
}
