/* ====== 1. Layout & Page Wrapper ======*/
.auth-page {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-50);
}

.auth-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* ====== 2. Header  ====== */
.auth-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2.5rem 3.75rem 1rem;
  position: relative;
  z-index: 100;
}

.auth-header__logo {
  width: 5rem;
}

/* ====== 3. Auth Card ====== */
.auth-card {
  background-color: var(--color-white);
  padding: 2rem 6rem;
  border-radius: 1.875rem;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 37.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -8rem;
}

.auth-card__title {
  font-size: 3rem;
  margin: 0;
  color: var(--color-primary-light);
}

.auth-card__underline {
  height: 0.2rem;
  width: 7rem;
  background-color: var(--color-accent);
  margin: 0.5rem 0 2rem 0;
  border-radius: 2px;
}

/* ====== 4. Form Elements ====== */
.auth-card__form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
}

.auth-card__input-group {
  display: flex;
  align-items: center;
  background-color: white;
  border: 0.0625rem solid var(--color-gray-200);
  border-radius: 0.625rem;
  padding: 0 1.3125rem;
  transition: border-color 0.2s;
  width: 100%;
}

.auth-card__input-group:focus-within {
  border-color: var(--color-accent);
}

.auth-card__input-group--error {
  border-color: var(--color-error) !important;
}

.auth-card__input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.75rem 0;
  font-size: 0.875rem;
  font-family: inherit;
  background-color: white;
  color: var(--color-primary);
  min-width: 0;
}

.auth-card__input:-webkit-autofill,
.auth-card__input:-webkit-autofill:hover,
.auth-card__input:-webkit-autofill:focus,
.auth-card__input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: var(--color-primary) !important;
  font-family: inherit !important;
  font-size: 0.875rem !important;
  transition: background-color 5000s ease-in-out 0s;
}

.auth-card__input::placeholder {
  color: var(--color-gray-200);
  font-size: 0.875rem;
  opacity: 1;
}

.auth-card__input-group:focus-within {
  border-color: var(--color-accent);
  transition: border-color 0.2s ease;
}

.auth-card__icon {
  width: 1.5rem;
  height: auto;
  margin-left: 0.75rem;
  flex-shrink: 0;
  cursor: pointer;
}

.error-msg-container {
  color: var(--color-error);
  font-size: 0.857rem;
  text-align: center;
  margin-top: -0.5rem;
  line-height: 1.2rem;
  visibility: hidden;
  height: 1.2rem;
}

.error-msg-container.show {
  visibility: visible;
}

/* ====== 5. Footer ====== */
.auth-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.auth-footer__link {
  text-decoration: none;
  color: var(--color-gray-200);
  transition: color 0.2s ease;
}

.auth-footer__link:hover {
  color: var(--color-accent);
}

/* ====== 6. Buttons & Actions ====== */
.auth-card__actions {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 1.6rem;
}

.auth-card__btn {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  padding: 0.625rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.auth-card__btn:hover {
  background-color: var(--color-accent);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.auth-card__btn--guest {
  background-color: transparent;
  border: 0.0625rem solid var(--color-primary);
  color: var(--color-primary);
}

.auth-card__btn--guest:hover {
  border-color: var(--color-accent);
  color: var(--color-accent);
  background-color: var(--color-white);
}

.auth-card__checkbox-group {
  display: flex;
  justify-content: center;
}

.auth-card__checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.auth-card__custom-checkbox {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 8px;
  vertical-align: middle;
  cursor: pointer;
  background-image: url("../assets/img/auth/checkbox-default.svg");
  transition: transform 0.1s ease-in-out;
}

.auth-card__checkbox-input:checked + .auth-card__checkbox-label .auth-card__custom-checkbox {
  background-image: url("../assets/img/auth/checkbox-checked.svg");
}

.auth-card__custom-checkbox:active {
  transform: scale(0.9);
}

.auth-card__link {
  text-decoration: none;
  color: var(--color-accent);
  transition: color 0.2s ease;
}
