/* ====== 1. Layout  ====== */
.summary {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.summary__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin: 0 0 1rem 0;
}

.summary__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.25rem;
  width: 100%;
}

.summary__greeting {
  display: none;
}

/* ====== 2. Typography ====== */
.summary__title {
  font-size: var(--font-size-5xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
  order: 1;
}

.summary__subtitle {
  font-size: var(--font-size-base);
  order: 2;
}

.summary__greeting-title {
  font-size: var(--font-size-4xl);
  font-weight: var(--font-weight-normal);
  white-space: nowrap;
}

.summary__greeting-name {
  font-size: var(--font-size-5xl);
  font-weight: 700;
  color: var(--color-accent);
}

/* ====== 3. Card Component  ====== */
.card {
  background: var(--color-white);
  border-radius: 1.25rem;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.card:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  transform: scale(1.03);
}
.card:hover .card__icon--todo {
  background-image: url("../assets/img/shared/to-do-hover.svg");
}
.card:hover .card__icon--done {
  background-image: url("../assets/img/shared/done-hover.svg");
}

/* ====== 4. Card Elements ====== */
.card__info {
  display: flex;
  flex-direction: column;
  text-align: flex-start;
}

.card__icon {
  width: 2.9rem;
  height: 2.9rem;
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 0.2s ease;
}

.card__icon--todo {
  background-image: url("../assets/img/shared/to-do.svg");
}
.card__icon--done {
  background-image: url("../assets/img/shared/done.svg");
}

.card__count {
  font-size: 2.9375rem;
  font-weight: bold;
}

.card__label,
.card__date {
  font-size: var(--font-size-base);
}

.card__date {
  font-weight: var(--font-weight-bold);
  text-align: start;
}

.card__urgent-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 6.3rem;
  text-align: center;
}

.card_deadlines {
  text-align: start;
}

/* ====== 5. Card Modifiers ====== */
.card--half {
  grid-column: span 3;
  flex-direction: row;
}

.card--full {
  grid-column: span 6;
}

.card--urgent {
  flex-direction: row;
}

.card--third {
  grid-column: span 2;
}

/* ====== 6. Separators ====== */
.separator {
  order: 3;
}

.separator--h-mobile {
  order: 2;
  display: block;
}

.separator--v-short {
  display: none;
}

/* ====== 7. Overlay ====== */
.summary__greeting-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}

.summary__greeting-overlay.show {
  opacity: 1;
  pointer-events: all;
}

/* ====== 8. Desktop Version ====== */
@media (min-width: 768px) {
  .summary {
    flex-direction: row;
    align-items: center;
    gap: 4rem;
  }

  .summary__header {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .summary__grid {
    max-width: 35rem;
    flex: 1;
  }

  .summary__greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .content-limit-summary {
    max-width: calc(var(--content-max-width) - var(--sidebar-width));
  }

  /* Typography Desktop */
  .summary__title {
    font-size: var(--font-size-6xl);
  }
  .summary__subtitle {
    font-size: var(--font-size-xl);
    padding-bottom: 0;
  }
  .summary__greeting-title {
    font-size: var(--font-size-5xl);
    font-weight: var(--font-weight-medium);
  }
  .summary__greeting-name {
    font-size: var(--font-size-6xl);
  }

  /* Cards Desktop */
  .card__icon {
    width: 4.3125rem;
    height: 4.3125rem;
  }
  .card__count {
    font-size: 4rem;
  }
  .card__label {
    font-size: var(--font-size-xl);
  }
  .card__urgent-info {
    gap: 1rem;
  }

  .separator--h-mobile {
    display: none;
  }
  .separator--v-short {
    display: block;
    order: 2;
  }

  .summary__greeting-overlay {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1100px) {
  .summary__greeting {
    display: none;
  }
}
