/* ====== 1. Overlay Layout ====== */

.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 200ms ease;
}

.overlay-content {
  background: var(--color-white);
  width: 100%;
  max-width: 36rem;
  max-height: 75vh;

  border-radius: 30px;
  padding: 1.5rem;
  margin: 0.6rem;

  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  position: relative;
}

/* ====== 2. Animation ====== */
.overlay-content {
  transform: translateX(100%);
  opacity: 0;
  transition:
    transform 250ms ease,
    opacity 200ms ease;
}

.overlay-container.show {
  opacity: 1;
}

.overlay-container.show .overlay-content {
  transform: translateX(0);
  opacity: 1;
}

/* ====== 3. Task details ====== */
.task-detail__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.task-detail__property {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

.task-detail__section {
  margin-bottom: 1rem;
}

.priority-badge span {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0.25rem 0.9rem;
}

.detail-contact-item {
  display: flex;
  gap: 1rem;
  margin-top: 0.25rem;
  margin-left: 2rem;
}

.detail-subtask-list {
  display: flex;
  flex-direction: column;
}

.detail-subtask-item {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 0.4rem 1.25rem;
  border-radius: 10px;

  cursor: pointer;
  transition: background 0.1s;
}

.detail-subtask-item:hover {
  background-color: var(--color-gray-100);
}

.detail-subtask-item img {
  width: 24px;
  height: 24px;
}

.task-detail__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.action-btn {
  display: flex;
  gap: 0.5rem;
}

.action-divider {
  width: 1px;
  height: 1.6rem;
  margin: 0 8px;
  display: inline-block;
  background-color: var(--color-gray-200);
}

/* ====== 4. Typographie ====== */
.task-detail__title {
  font-size: var(--font-size-4xl);
  line-height: 1;
  margin-bottom: 1rem;
  word-wrap: break-word;
}

.task-detail__description {
  font-size: var(--font-size-base);
  margin-bottom: 1rem;
}

/* ====== 5. Utilities ====== */
.hidden {
  display: none !important;
}

/* ====== 4. Desktop Version ====== */
@media (min-width: 768px) {
  .overlay-content {
    padding: 3rem;
    margin: 2rem;
    max-height: 90vh;
  }

  .task-detail__title {
    font-size: var(--font-size-6xl);
  }

  .task-detail__description {
    font-size: var(--font-size-xl);
  }
}
