/* ====== Overlay & Layout ====== */
.task-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 200ms ease;
}

.task-detail-content {
  background: var(--color-white);
  width: 100%;
  max-width: 36rem;
  max-height: 90vh;
  border-radius: 30px;
  padding: 1.8rem;
  margin: 0.6rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  position: relative;
  transform: translateX(100%);
  opacity: 0;
  transition:
    transform 250ms ease,
    opacity 200ms ease;
}

.task-details-overlay.show {
  opacity: 1;
}
.task-details-overlay.show .task-detail-content {
  transform: translateX(0);
  opacity: 1;
}

/* ====== Task details ====== */
.task-detail__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.task-detail__close-btn {
  padding: 0.2rem;
  border-radius: 50%;
}

.task-detail__close-btn:hover {
  background-color: var(--color-primary-super-light);
}

.task-detail__title {
  font-size: var(--font-size-4xl);
  line-height: 1;
  margin-bottom: 1rem;
  word-wrap: break-word;
}

.task-detail__description {
  font-size: var(--font-size-base);
  margin-bottom: 1.2rem;
}

.task-detail__property {
  display: flex;
  gap: 2rem;
  margin-bottom: 0.6rem;
}

.task-detail__section {
  margin-bottom: 1.2rem;
}

.priority-badge span {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0.25rem 0.9rem;
}

.detail-contact-item {
  display: flex;
  gap: 1rem;
  margin-top: 0.25rem;
  margin-left: 1rem;
  align-items: center;
}

.detail-contact-item span {
  margin-left: 1rem;
}

.detail-subtask-list {
  display: flex;
  flex-direction: column;
}

.detail-subtask-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.2rem 1.25rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.1s;
}

.detail-subtask-item:hover {
  background-color: var(--color-gray-100);
}
.detail-subtask-item img {
  width: 24px;
  height: 24px;
}

.task-detail__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.action-btn {
  display: flex;
  gap: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
}

.action-btn img {
  transition:
    transform 100ms ease,
    filter 100ms ease;
}

.action-btn:hover {
  color: var(--color-accent);
  transform: scaleX(1.02);
  text-shadow: 0 0 1px currentColor;
}

.action-btn:hover img {
  filter: brightness(0) saturate(100%) invert(58%) sepia(73%) saturate(1234%) hue-rotate(161deg) brightness(95%) contrast(92%);
  transform: scale(1.01);
}

.action-divider {
  width: 1px;
  height: 1.6rem;
  margin: 0 8px;
  background-color: var(--color-gray-200);
}

/* ====== Desktop Version ====== */
@media (min-width: 768px) {
  .task-detail-content {
    padding: 3rem;
    margin: 2rem;
    max-height: 90vh;
  }
  .task-detail__title {
    font-size: var(--font-size-6xl);
  }
  .task-detail__description {
    font-size: var(--font-size-xl);
  }
}

/* ====== Utilities ====== */
.hidden {
  display: none !important;
}
